<html>
<head>
</head>
<body>
<h1>Welcome to World APIs</h1>
<h2>Here we provide all api to render services about world contries, cities, and World Languages</h2>
<p>With '/api/countries/' end point you'll able to see all world countries with they.re populations, GNP, continents,
    able to navigate in between</p>
<p>With '/api/worldLanguages/' end point you'll be able to view all world languages with officiality statuses
</p>
<p>With /api/cities/ end point you'll be see all the cities in with they countries and population</p>
<h1>The Database uses data from 2008, data will mislead world current data</h1>
</body>
</html>